
name: ARXML diff from BASE REPO with PCM repo

on:
  workflow_dispatch:
    inputs:
      baserepo_arxml_path:
        description: 'ARXML path in THIS repo'
        required: true
      pcm_arxml_path:
        description: 'ARXML path in PCM repo'
        required: false
        default: ''
      output_html:
        description: 'Output HTML file'
        required: false
        default: 'arxml_diff.html'
      retention_days:
        description: 'Retention days'
        required: false
        default: '3'
      token_input:
        description: 'ATATT3xFfGF07vK3mej_Qq0rxoG6q0byQN17P23n6yksG2bW1w9dJLIDv3U9_pUQGR2GBD8kqP09hruFdPZjhz5_NzRWd4jFvh6wNFpyRKCu_Y_CM3eEurO4B1j2RQVVhjrHFQg2_OHNxKxl2y7q6PASS2TUvJ7yor7Jm2PpsVGAzrlXjzucovs=F5FEE54A'
        required: true

permissions:
  contents: read

jobs:
  compare-arxml:
    runs-on: ubuntu-latest

    steps:
      # Checkout current repo
      - name: Checkout THIS repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          persist-credentials: false

      # Checkout PCM repo
      - name: Checkout PCM repo
        uses: actions/checkout@v4
        with:
          repository: CICD-LTTS/PCM
          ref: main
          path: pcm_repo
          persist-credentials: false
          token: ${{ inputs.token_input }}

      # Checkout BASE repo
      - name: Checkout BASE repo
        uses: actions/checkout@v4
        with:
          repository: CICD-LTTS/BASE_REPO
          ref: main
          path: base_repo
          persist-credentials: false
          token: ${{ inputs.token_input }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run diff
        shell: bash
        run: |
          set -euo pipefail
          mkdir -p diff-reports

          THIS_ARXML="${{ inputs.baserepo_arxml_path }}"
          PCM_INPUT="${{ inputs.pcm_arxml_path }}"
          OUT_HTML="diff-reports/${{ inputs.output_html }}"

          if [ -n "$PCM_INPUT" ]; then
            PCM_ARXML="pcm_repo/$PCM_INPUT"
          else
            mapfile -t matches < <(find pcm_repo/files -maxdepth 1 -name "*.arxml")
            PCM_ARXML="${matches[0]}"
          fi

          python ./scripts/arxml_diff/xml_diff.py "$THIS_ARXML" "$PCM_ARXML" "$OUT_HTML"

      - name: Upload diff
        uses: actions/upload-artifact@v4
        with:
          name: arxml-diff
          path: diff-reports/**
          retention-days: ${{ inputs.retention_days }}
