name: Run JAR in CI

on: [push]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Checkout repository

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '1.8'
          distribution: 'temurin'

      - name: Find the JAR file and run it
        run: java -jar jar/arxmldiff.jar 
