name: Create branch from main

on:
  workflow_dispatch:

jobs:
  create-branch:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:    
      - uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0

      - run: |
          git checkout -b preint-main
          git push origin preint-main
          
      - name: Checkout ECM (ecm_new_feature)
        uses: actions/checkout@v4
        with:
          repository: CICD-LTTS/ECM
          ref: ecm_new_feature
          path: _external/ECM
          fetch-depth: 1
          token: ${{ secrets.ALL_REPOS_PAT }}
          sparse-checkout: |
            files
          sparse-checkout-cone-mode: true


      # Step 2: Copy files
      - name: Copy files
        run: |
          mkdir -p preint-main/ECM/files
          cp -r ECM/files preint-main/ECM/files
          git add preint-main/ECM/files
          git commit -m "Copy file.txt to destination folder" || echo "No changes to commit"
          git push origin HEAD:copy-file-pr-branch --force

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.ALL_REPOS_PAT }}
          commit-message: "Copy file to destination"
          branch: ${{ steps.create-branch.outputs.PR_BRANCH }} # optional dynamic branch
          base: preint-main   # target branch
          title: "Automatic PR to preint-main"
          body: "This PR was automatically created by GitHub Actions."
